<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
    <title></title>
	<script>
	</script>
</head>
<body>
<img src='http://www.webopedia.com/imagesvr_ce/8012/smiley-face.jpg'> </img>

<p> Plik: <%= fileName %> został pomyślnie załadowany.</p>
<div>
  <a class="btn btn-large btn-info" href="/galeria">Galeria</a>
</div>
</body>
</html>
